
@font-face {
    font-family: 'Questrial';
    src: url('fonts/questrial.regular.ttf') format('truetype');
}

html, body {
    cursor: none;
}

.custom-cursor {
  width: 30px;
  height: 30px;
  opacity: 50%;
  border: 2px solid blueviolet;
  border-radius: 50%; /* Makes it a perfect circle */
  position: fixed;
  transform: translate(-50%, -50%); /* Centers the circle precisely on the cursor coordinate */
  pointer-events: none; /* Allows you to click objects "through" the circle */
  z-index: 9999; /* Keeps it on top of all other elements */
  transition: transform 0.1s ease-out; /* Creates a smooth trailing lag effect */
}



body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #00003d;
    color: white;
    font-family: 'Questrial', sans-serif;
}

h1 {
     margin: 83px 0 40px;
     font-size: 30px;
     font-weight: normal;
}


.header {
    height: 70px;
     background-color: #0b0733;
     display: flex;
     align-items: center;
     justify-content: space-between;

     padding: 0 20px;
    box-sizing: border-box;
}

#logo {
    height: 160px;
    width: 160px
}
#menu {
    
    display: flex;
    gap: 30px;
    color: white;
    list-style: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}
#greeting {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 1px;
 
}

.check-in {
    flex: 1;
}

.emotion-responses {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.emotion-card {
    font-size: 20px;
    text-align: center;
    background: transparent;
    border: none;
    padding: 0;
    color: inherit;
    font: inherit;
    cursor: pointer;
    appearance: none;
    display: block;
}

.emotion-card img {
    width: 100px;
    height: 70px;
    display: block;
}


#steady_image {
    display: flex;
    align-items: flex-start;
    width: 110px;
    height: 110px;
    object-fit: cover;
    object-position: top;
    margin-bottom: 0px;
}


.steady_card p {
    padding: 0px;
    margin: 0px;
}

#overloaded_image {
    width: 100px;
    height: 90px;
    display: block;
    object-fit: contain;
}

.overloaded_card p {
    padding: 0px;
    margin: 0px;
}

#heavy_image {
    width: 100px;
    height: 110px;
    display: block;
    object-fit: fill;
}

.heavy_card p {
    padding: 0px;
    margin: 0px;
}




footer {
    
    font-size: 20px;
    background-color: #0b0733;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 24px;
    margin-top: auto;
}

